{% extends 'base.html' %}
{% from 'macros.html' import pager %}


{% block title %}{{bloginfo.blog_title}}{% endblock title %}

{% block content %}
<div >
{% if posts %}
    {% for post in posts %}
        <h2 class="text-primary">
            <a href="{{ url_for('.show_post',post_id=post.id) }}">{{ post.title }}</a>
        </h2>
        <p>
            {% if post.body_html %}
                {{ post.body_html|striptags|truncate }}
            {% else %}
                {{ post.body|striptags|truncate }}
            {% endif %}
            <samll>
                <a href="{{ url_for('.show_post',post_id=post.id) }}"> »</a>
            </samll>
        </p>
        <p class="postinfo">
            published at {{ post.timestamp }}
            | {{post.category.name}}
        </p>
    {% endfor %}
{% endif %}

{{ pager(pagination) }}
</div>
{% endblock content %}
