{% extends 'base.html' %}


{% block mycss %}
<link href="{{ url_for('static', filename='editormd/css/editormd.preview.css') }}" rel="stylesheet" />
{% endblock %}

{% block content %}
<div class="body-header">
    <h2>{{ post.title }}</h2>
    <small>
        {{ post.category.name }}
        <span class="time">| {{ post.timestamp.strftime('%B %d %Y') }}</span>
    </small>
</div>
{% if post.body_html %}
    <div id="fancy-content">
    {{ post.body_html|safe }}
    </div>
{% else %}
    <div>
    {{ post.body }}
    </div>
{% endif %}

{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='editormd/lib/marked.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='editormd/lib/prettify.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='editormd/editormd.min.js') }}"></script>
<script type="text/javascript">
    editormd.markdownToHTML("fancy-content");
</script>
{% endblock %}