{% extends 'admin/base.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static',filename='editormd/css/editormd.css') }}"/>
{% endblock %}

{% block content %}
 <div class="page-title-box">
    <div class="row align-items-center">
        <div class="col-sm-6">
            <h4 class="page-title">写文章</h4>
        </div>
        <div class="col-sm-6">
            <h4 class="page-title float-right">发表</h4>
        </div>
    </div>
    <!-- end row -->
</div>
                    <!-- end page-title -->

<div>
    <form action="" method="post" class="form" role="form">
        {{ form.csrf_token }}
        <div class="form-group required">
            <label class="form-control-label" for="title">标题</label>
            {{ form.title }}
        </div>
        <div class="form-group">
            <label class="form-control-label" for="category">分类</label>
            {{ form.category }}
<!--            <select class="form-control" id="category" name="category">-->
<!--                <option value="21">东西</option>-->
<!--                <option value="9">以上</option>-->
<!--                <option value="19">内容</option>-->
<!--                <option value="16">加入</option>-->
<!--                <option value="25">嗯嗯嗯</option>-->
<!--                <option selected value="1">默认</option>-->
<!--            </select>-->
        </div>
        <p><label class="form-control-label" for="body">文章</label></p>
        <div id="fancy-editormd" class="form-group required">

            {{ form.body(style="display:none;") }}
        </div>
        <input class="btn btn-secondary" id="submit" name="submit" type="submit" value="Submit">
    </form>
</div>

{% endblock content %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static',filename='editormd/editormd.min.js') }}"></script>
<script type="text/javascript">
    var testEditor;
    $(function () {
         testEditor = editormd("fancy-editormd", {
            width: "100%",
            height: 640,
            syncScrolling: "single",
            path: "{{ url_for('static',filename='editormd/lib/') }}",
            saveHTMLToTextarea : true,
        });
    });
</script>
{% endblock %}