{% extends 'admin/base.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block content %}
 <div class="page-title-box">
    <div class="row align-items-center">
        <div class="col-sm-6">
            <h4 class="page-title">添加文章</h4>
        </div>
        <div class="col-sm-6">
            <h4 class="page-title float-right">发表</h4>
        </div>
    </div>
    <!-- end row -->
</div>
                    <!-- end page-title -->

<div>
    {{ render_form(form) }}
</div>


{% endblock content %}

