{% from "bootstrap/nav.html" import render_nav_item %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock title %} - shihaonan's blog</title>
    <meta http-equiv="keywords" content="关键词1,keyword2,keyword3">
    <meta http-equiv="description" content="这是描述">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block mycss %}{% endblock %}
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?91476f90b988db010af96af523d9b0fb";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
    </script>

    {% endblock %}
</head>
<body>
{% block nav %}
<nav class="navbar navbar-default">
  <div id="navbody" class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" >{{ bloginfo.blog_title }}</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        {{ render_nav_item('blog.index','Home',use_li=True) }}
        {{ render_nav_item('blog.about','About',use_li=True) }}
        {{ render_nav_item('blog.categories','Categories',use_li=True) }}
        {{ render_nav_item('blog.archives','Archives',use_li=True) }}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

{% endblock %}

<main class="container" id="mainbody">
    {% for message in get_flashed_messages() %}
        <div class="alert">{{ message }}</div>
    {% endfor %}

    {% block content %} {% endblock content %}
</main>

{% block footer %}
<footer class="footer text-center">
    <p class="small">haonan © 2019</p>
    <p class="small">Powered by haonan</p>


</footer>
{% endblock footer %}



{% block scripts %}
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
{% endblock %}
</body>
</html>